* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  color: #797979;
  text-transform: uppercase;
  text-align: center; }

header {
  height: 4em; }

.mainNavigation {
  background: #374249;
  width: 100%;
  height: 4em;
  float: left; }
  .mainNavigation .NYcontainer {
    display: inline-block;
    min-width: 15%;
    float: left;
    height: 100%;
    background: #f75311;
    margin: auto; }
    .mainNavigation .NYcontainer img {
      float: left;
      height: 75%;
      margin-top: 0.5em;
      left: 50%; }
    .mainNavigation .NYcontainer p {
      display: inline-block;
      margin-top: 1.5em;
      text-decoration: underline;
      float: left;
      padding-right: 1em; }
      .mainNavigation .NYcontainer p a {
        color: #797979; }
  .mainNavigation ul {
    list-style: none; }
    .mainNavigation ul li {
      display: inline-block;
      padding-left: 0.5em;
      width: 10%;
      margin-top: 1.5em; }
      .mainNavigation ul li a {
        text-decoration: none;
        color: #797979; }
        .mainNavigation ul li a:hover {
          text-decoration: underline; }

.intro {
  background: url(../slike/intro.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: relative;
  margin: auto;
  min-height: 603px; }

.grayBox {
  position: absolute;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: rgba(79, 79, 79, 0.5);
  min-height: 15%; }
  .grayBox h1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
    margin-bottom: 10px;
    width: 100%; }
  .grayBox p {
    top: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    color: white; }

.whiteBkg {
  min-height: 5em;
  background: white;
  width: 100%; }

.container {
  margin-right: 10%;
  float: right; }

.btn {
  border-radius: 28px;
  font-size: 1em;
  padding: 10px;
  color: #797979;
  background-color: white;
  margin: 1em;
  border: 0.5px solid #797979; }
  .btn:hover {
    background-color: #797979;
    color: white; }

.grayBkg {
  width: 100%;
  background: #cfd1d3; }

.container2 {
  display: block;
  width: 80%;
  margin: auto;
  overflow: auto;
  padding: 20px; }

.imgBox {
  display: inline-block;
  width: 18%;
  position: relative;
  margin: 10px; }
  .imgBox .hoverBox {
    position: absolute;
    top: 0;
    padding: 20px;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0); }
    .imgBox .hoverBox:hover {
      background: rgba(255, 255, 255, 0.8);
      color: black; }
  .imgBox img {
    width: 100%; }

.whiteBkg2 {
  margin: 30px;
  background: white;
  width: 100%; }
  .whiteBkg2 p {
    text-align: center;
    color: #797979;
    margin: 30px; }

table {
  width: 50%;
  margin: 0 auto; }
  table th {
    background: #374249;
    color: white; }
  table td {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray; }
  table .borderFill {
    background: #f75311; }

.map {
  width: 40%;
  float: left;
  margin: 30px; }

form {
  width: 40%;
  float: left;
  background: #f75311;
  margin-top: 30px;
  margin-left: 10px; }
  form input {
    width: 80%;
    line-height: 1.9em;
    margin-top: 1em;
    margin-left: 1em; }
    form input input[name="Ime"] {
      width: 60%; }
  form input[name="Ime"] {
    width: 67%; }
  form select {
    min-height: 1.9em;
    margin-left: 1em; }
  form textarea {
    width: 80%;
    height: 4em;
    margin: 1em;
    margin-left: 1em; }

footer {
  background: #374249;
  width: 100%;
  height: 4em;
  text-align: center;
  color: #797979; }
  footer a {
    color: #f75311; }

@media screen and (max-width: 1350px) {
  .imgBox {
    width: 45%; }
    .imgBox img {
      width: 70%; }

  .container2 {
    overflow: none; }

  .map {
    float: none;
    width: 100%;
    margin-top: 30px; }

  form {
    float: none;
    width: 100%; } }
@media screen and (max-width: 600px) {
  .mainNavigation {
    height: auto; }
    .mainNavigation .NYcontainer {
      float: none;
      width: 100%; }
    .mainNavigation ul {
      width: 100%;
      margin-bottom: 5px; }
      .mainNavigation ul li {
        width: 100%;
        text-align: center;
        padding: 0.5em; }

  .intro {
    clear: both;
    background: black;
    min-height: 6em; }

  .greyBox {
    min-height: 4em;
    top: 0%;
    display: block; }
    .greyBox p {
      top: 50%; }

  .imgBox {
    width: 100%; }
    .imgBox img {
      width: 100%; }

  .hoverBox {
    background: rgba(255, 255, 255, 0.8);
    color: black; } }

/*# sourceMappingURL=main.css.map */
