* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

html, body {
  width: 100%;
  height: 100%; }

header {
  position: fixed, relative;
  width: 100%; }

.mainNavigation {
  width: 100%; }
  .mainNavigation .pin {
    float: left;
    display: inline-block;
    vertical-align: top;
    width: 59px;
    height: 59px;
    background: #f75311; }
  .mainNavigation ul {
    list-style: none;
    background: #374249;
    color: #f3f7f9;
    text-align: left; }
    .mainNavigation ul li {
      display: inline-block; }
      .mainNavigation ul li a {
        text-decoration: none;
        color: inherit;
        display: inline-block;
        padding: 20px; }
        .mainNavigation ul li a:hover {
          background: #f75311;
          text-decoration: underline;
          color: #F8F8F8; }

.ny {
  width: 250px;
  background: #f75311;
  text-decoration: none;
  display: inline-block;
  text-align: left; }
  .ny:hover {
    text-decoration: underline; }

.intro img {
  float: left;
  width: 100%;
  height: 80%;
  padding-top: 0%;
  background-size: cover; }
.intro .introBlock {
  position: absolute;
  height: 20%;
  width: 60%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 2%;
  margin-top: 30%;
  margin-left: 20%; }
  .intro .introBlock h1 {
    color: #f3f7f9;
    text-shadow: 5px 2px 2px #000; }
  .intro .introBlock h5 {
    color: #f3f7f9;
    text-shadow: 3px 1px 1px #000; }

.secNavigation {
  width: 100%; }
  .secNavigation ul {
    list-style: none;
    background: #F8F8F8;
    color: #797979;
    text-align: right;
    padding-right: 7%; }
    .secNavigation ul li {
      display: inline-block; }
      .secNavigation ul li a {
        text-decoration: none;
        color: inherit;
        display: inline-block;
        padding: 10px;
        border: 1px solid #797979;
        margin: 10px;
        border-radius: 20px; }
        .secNavigation ul li a:hover {
          background: #797979;
          color: #F8F8F8; }

.galerija {
  width: 100%;
  padding-top: 2%;
  padding-left: 5%;
  background: #f3f7f9; }
  .galerija .imgEfect {
    position: relative;
    display: inline-block;
    padding-left: 2%;
    padding-bottom: 2%; }
    .galerija .imgEfect .img {
      height: 400px;
      width: 300px; }
    .galerija .imgEfect .imgTxt {
      position: absolute;
      top: 0em;
      bottom: 15em;
      left: 1.1em;
      right: 0em;
      background: rgba(192, 192, 192, 0.5);
      color: #000;
      visibility: hidden;
      opacity: 0;
      transition: opacity .2s, visibility .2s;
      padding: 10px;
      font-size: 20px; }
  .galerija .imgEfect:hover .imgTxt {
    visibility: visible;
    opacity: 1; }

.cene {
  background: #F8F8F8; }
  .cene h2 {
    text-align: center;
    font-size: 28px;
    color: #374249;
    padding-top: 2em; }
  .cene p {
    text-align: center;
    color: #797979;
    padding-top: 1em; }

.contact {
  background: #f3f7f9; }
  .contact h2 {
    text-align: center;
    font-size: 28px;
    color: #374249;
    padding-top: 2em;
    padding-bottom: 2em; }

/*# sourceMappingURL=style.css.map */
