* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

main {
  margin: auto;
  width: 100%; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #374249; }

li {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0; }

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 17px 100px; }
  li a img {
    float: left;
    margin-left: -20px;
    margin-top: -20px; }

li a:hover {
  text-decoration: underline; }

.active {
  background-color: #f75311;
  width: 100%;
  text-align: left; }

.intro {
  background-color: black;
  height: 210px;
  text-align: center;
  position: left;
  width: 100%;
  position: relative; }
  .intro .h1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: auto;
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3); }
    .intro .h1 h1 {
      font-size: 2.5em;
      color: white;
      text-align: center;
      margin: auto; }
    .intro .h1 p {
      color: white;
      padding-top: 0.3em; }

.buttonSection {
  height: 4em;
  width: 100%;
  float: left; }
  .buttonSection form {
    text-align: center; }
    .buttonSection form input[type="button"] {
      display: inline-block;
      padding: 0.5em;
      margin: 1em 2em 1em;
      width: auto;
      height: 2.5em;
      background-color: white;
      border-radius: 20px; }
    .buttonSection form input[type="button"]:hover {
      background-color: #cfd1d3; }

.imgSection {
  height: auto;
  float: left;
  background-color: #f3f7f9; }
  .imgSection .imgMain {
    display: block;
    width: 100%;
    margin: auto;
    padding: 1em; }
    .imgSection .imgMain .imgDiv {
      width: 90%;
      height: 244px;
      display: inline-block;
      margin: 1em 1em;
      position: relative; }
      .imgSection .imgMain .imgDiv img {
        width: 100%;
        height: 100%; }
      .imgSection .imgMain .imgDiv .hoverText {
        background: rgba(255, 255, 255, 0.4);
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 50%; }
        .imgSection .imgMain .imgDiv .hoverText h3, .imgSection .imgMain .imgDiv .hoverText h4 {
          padding: 0.2em; }

.tableSection {
  text-align: center;
  float: left;
  width: 100%; }
  .tableSection .button {
    padding: 1em;
    margin: 2em auto;
    border-radius: 30px;
    background-color: white; }
  .tableSection table {
    display: none; }
  .tableSection h1 {
    color: #374249;
    text-transform: uppercase;
    margin-top: 2em; }
  .tableSection h5 {
    color: #cfd1d3;
    margin-top: 2em; }
  .tableSection .first {
    border-left: none;
    border-top: none;
    background-color: white; }

.formMap {
  width: 100%;
  height: 580px;
  float: left;
  background-color: #f3f7f9;
  text-align: center; }
  .formMap .googleMap {
    display: block;
    width: 100%;
    margin: auto; }
    .formMap .googleMap iframe {
      width: 60%; }
    .formMap .googleMap .form {
      margin-top: 2em;
      display: block;
      width: 90%; }
      .formMap .googleMap .form .contactForm {
        float: right;
        width: 90%;
        background: #f75311;
        display: block;
        margin: auto;
        padding: 10px; }
        .formMap .googleMap .form .contactForm .contactInput {
          border: none;
          color: #f75311;
          height: 30px;
          margin: 8px 0; }
        .formMap .googleMap .form .contactForm .contactInput[name='contact_email'] {
          width: 100%;
          float: left; }
        .formMap .googleMap .form .contactForm .contactInput[name='contact_name'] {
          width: 70%;
          float: right; }
        .formMap .googleMap .form .contactForm .contactInput[name='contact_gender'] {
          width: 20%;
          float: left;
          background-color: #f3f7f9; }
        .formMap .googleMap .form .contactForm textarea {
          float: left;
          width: 100%;
          border: none;
          padding: 10px auto;
          margin: 10px 0;
          resize: none; }
  .formMap h1 {
    color: #374249;
    text-transform: uppercase;
    margin: 2em auto; }

/*# sourceMappingURL=text.css.map */
