@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
    font-family: $fonts;
}

html, body {
	width: 100%;
	height: 100%;
}

header {
	position: fixed, relative;
    width: 100%;
}

.mainNavigation {
	width: 100%;

.pin {
	float: left;
    display: inline-block;
    vertical-align: top;
    width: 59px;
    height: 59px;
    background: $headColor;
}
	ul {
	list-style: none;
	background: $footerColor;
	color: $sectionBackgroundColor;
	text-align: left;

	li {
	display: inline-block;

	a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	padding: 20px;

	&:hover {
	background: $headColor;
	text-decoration: underline;
	color: $hoverButtonColor;

}
}
}
}
}
	.ny {
	width: 250px;
	background: $headColor;
	text-decoration: none;
	display: inline-block;
	text-align: left;

	&:hover {
	text-decoration: underline;
}
}

.intro {
	img{
		float: left;
		width: 100%;
		height: 80%;
		padding-top: 0%;
		background-size: cover;
	}
	.introBlock{
		position: absolute;
		height: 20%;
		width: 60%;
		text-align: center;
		background: rgba(0, 0, 0, 0.5);
		padding: 2%;
		margin-top: 30%;
		margin-left: 20%;
		h1{
			color: $sectionBackgroundColor;
			text-shadow: 5px 2px 2px#000;

		}
		h5{
			color: $sectionBackgroundColor;
			text-shadow: 3px 1px 1px #000;
		}
	}

}

.secNavigation{
		width: 100%;

	ul {
	list-style: none;
	background: $hoverButtonColor;
	color: $fontColor;
	text-align: right;
	padding-right: 7%;

	li {
	display: inline-block;

	a {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	padding: 10px;
	border: 1px solid $fontColor;
	margin: 10px;
	border-radius: 20px;


	&:hover {
	background: $fontColor;
	color: $hoverButtonColor;

}
}
}
}
}
.galerija {
		width:100%;
		padding-top: 2%;
		padding-left: 5%;
		background: $sectionBackgroundColor;
	.imgEfect{
		position: relative;
		display: inline-block;
		padding-left: 2%;
		padding-bottom: 2%;
		.img{
  		height: 400px;
  		width: 300px;
		}
		.imgTxt{
  		position: absolute;
  		top: 0em;
  		bottom: 15em;
  		left: 1.1em;
  		right: 0em;
  		background: rgba(192,192,192,0.5);
  		color: #000;
  		visibility: hidden;
  		opacity: 0;
  		transition: opacity .2s, visibility .2s;
  		padding: 10px;
  		font-size: 20px;
		}
	}
		.imgEfect:hover .imgTxt {
  		visibility: visible;
  		opacity: 1;
}
}
