$color-primary: #f75311; //  Narandzasta: #f75311
$color-secondary: #374249; // 	Tamno plava (header i footer): #374249
$color-font: #797979; // 	Boja fonta: #797979
$color-heading: #374249; // 	Naslovi: #374249
$color-hover: #cfd1d3; // 	Svetlo siva 1 (hover na dugmice): #cfd1d3
$color-section: #f3f7f9; // 	Svetlo siva 2 (pozadina sekcija): #f3f7f9
$color-heading-text: rgba(55, 66, 73, .7);
$color-text: white;





